<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" 
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="org.xmgreat.mapper.MyCompanyMapper">
	
	<select id="" parameterType="org.xmgreat.entity.UserEntity"
		resultType="org.xmgreat.entity.PhotoEntity">
		
		select * from photoTb where userId=#{userId}
		
	</select>
	
	

</mapper>