<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" 
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="org.xmgreat.mapper.UserMapper">
	
	<select id="login" parameterType="org.xmgreat.entity.UserEntity"
		resultType="org.xmgreat.entity.UserEntity">
	</select>
	
	<!-- <select id="getAllMenuList" parameterType="org.xmgreat.entity.AdminEntity"
		resultType="org.xmgreat.entity.AdminEntity">
		select * from menu  order by menuId asc
	</select>
	
	<select id="getSql" parameterType="java.lang.Integer"
		resultType="org.xmgreat.entity.RuleEntity">
		select * from rule where ruleId=#{ruleId}
	</select>
	
	<select id="getAllList" parameterType="java.lang.String"
		resultType="org.xmgreat.entity.UserEntity">
		${sql}
	</select> -->

</mapper>
	