<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" 
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="org.xmgreat.mapper.VisitLxdMapper">

	<!-- 添加访问或赞的记录 -->
	<insert id="addVisit"
		parameterType="org.xmgreat.entity.VisitEntity">
		insert into visitTb
		values(seq_visit.nextval,#{userId},#{toUserId},
		to_char(sysdate,'YYYY-MM-DD'),#{style})
	</insert>

	<!-- 更新访问或赞记录的时间 -->
	<update id="updateVisitTime"
		parameterType="org.xmgreat.entity.VisitEntity">
		update visitTb set time=to_char(sysdate,'YYYY-MM-DD')
		where userId=#{userId} and touserId=#{toUserId} and style=#{style}
	</update>

	<!-- 查询访问或赞的所有记录 -->
	<select id="selectAllVisit"
		resultType="org.xmgreat.entity.VisitEntity"
		parameterType="org.xmgreat.entity.VisitEntity">
		select * from visitTb where 1=1
		<if test="userId!=0">
			and userId=#{userId}
		</if>
		<if test="toUserId!=0">
			and touserId=#{toUserId}
		</if>
		and style=#{style}
	</select>

	<!-- 查询访问或赞的单页记录 -->
	<select id="selectPageVisit" resultMap="visitMap"
		parameterType="org.xmgreat.entity.VisitEntity">
		select b.* from(select a.*,rownum rn from
		(


		select v.*,p.url,p.photoId from visitTb v left outer join phototb p
		on
		<if test="ve.userId!=0 and ve.toUserId==0">
			v.touserid=p.userid
		</if>
		<if test="ve.toUserId!=0 and ve.userId==0">
			v.userId=p.userid
		</if>

		<if test="ve.toUserId!=0 and ve.userId!=0">
			v.touserid=p.userid
		</if>

		<if test="ve.toUserId==0 and ve.userId==0">
			v.touserid=p.userid
		</if>

		and p.parameter=1
		where 1=1
		<if test="ve.userId!=0">
			and v.userId=#{ve.userId}
		</if>
		<if test="ve.toUserId!=0">
			and v.toUserId=#{ve.toUserId}
		</if>
		and v.style=#{ve.style} order by time desc ) a
		where rownum &lt;=
		#{max}) b where rn &gt; #{min}
	</select>



	<resultMap type="org.xmgreat.entity.VisitEntity"
		id="visitMap">
		<id property="visitId" column="visitId" /><!-- 主键 -->
		<result property="visitId" column="visitId" />
		<result property="userId" column="userId" />
		<result property="toUserId" column="toUserId" />
		<result property="time" column="time" />
		<result property="style" column="style" />

		<association property="photoEntity" column="photoId"
			javaType="org.xmgreat.entity.PhotoEntity">
			<id property="photoId" column="photoId" /><!-- 主键 -->
			<result property="userId" column="userId" />
			<result property="URL" column="URL" />
		</association>
	</resultMap>


	<!-- 添加关注记录 -->
	<insert id="addFocus"
		parameterType="org.xmgreat.entity.FocusEntity">
		insert into focusTb
		values(seq_focus.nextval,#{userId},#{toUserId},21,
		to_char(sysdate,'YYYY-MM-DD'))
	</insert>

	<!-- 查询关注所有记录 -->
	<select id="selectAllFocus"
		resultType="org.xmgreat.entity.FocusEntity"
		parameterType="org.xmgreat.entity.FocusEntity">
		select * from focusTb where 1=1
		<if test="userId!=0">
			and userId=#{userId}
		</if>
		<if test="toUserId!=0">
			and toUserId=#{toUserId}
		</if>
		<if test="deleteId!=0">
			and deleteId=#{deleteId}
		</if>
	</select>

	<!-- 更新关注记录状态 -->
	<update id="updateFocusState"
		parameterType="org.xmgreat.entity.FocusEntity">
		update focusTb set
		time=to_char(sysdate,'YYYY-MM-DD'),deleteId=#{deleteId}
		where
		userId=#{userId} and toUserId=#{toUserId}
	</update>

	<!-- 查询关注单页记录 -->

	<select id="selectPageFocus" resultMap="focusMap"
		parameterType="org.xmgreat.entity.FocusEntity">
		select b.* from(select a.*,rownum rn from
		(select
		f.*,p.url,p.photoId,u.lgtime from focusTb f left outer join phototb p
		on
		<if test="fe.userId!=0 and fe.toUserId==0">
			f.touserid=p.userid
		</if>
		<if test="fe.toUserId!=0 and fe.userId==0">
			f.userId=p.userid
		</if>

		<if test="fe.toUserId!=0 and fe.userId!=0">
			f.touserid=p.userid
		</if>

		<if test="fe.toUserId==0 and fe.userId==0">
			f.touserid=p.userid
		</if>

		and p.parameter=1,userTb u

		where 1=1 and f.deleteId=#{fe.deleteId}

		<if test="fe.userId!=0">
			and f.userId=#{fe.userId} and u.userid=f.toUserId
		</if>
		<if test="fe.toUserId!=0">
			and f.toUserId=#{fe.toUserId} and u.userid=f.userId
		</if>
		order by time desc ) a
		where rownum &lt;= #{max}) b where rn &gt;
		#{min}
	</select>

	<resultMap type="org.xmgreat.entity.FocusEntity"
		id="focusMap">
		<id property="focusId" column="focusId" /><!-- 主键 -->
		<result property="focusId" column="focusId" />
		<result property="userId" column="userId" />
		<result property="toUserId" column="toUserId" />
		<result property="time" column="time" />
		<result property="deleteId" column="deleteId" />

		<association property="photoEntity" column="photoId"
			javaType="org.xmgreat.entity.PhotoEntity">
			<id property="photoId" column="photoId" /><!-- 主键 -->
			<result property="userId" column="userId" />
			<result property="URL" column="URL" />
		</association>
		<association property="userEntity" column="userId"
			javaType="org.xmgreat.entity.UserEntity">
			<id property="userId" column="userId" /><!-- 主键 -->
			<result property="userId" column="userId" />
			<result property="lgTime" column="lgTime" />
		</association>
	</resultMap>




</mapper>
	



	